<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <%= content_tag :h2, md(block.title), class: 'bold-title' %>
      </div>
    </div>
  </div>
</div>
