<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 medium-title">
        <p class="mb-6">Founded in 2018 by Creative Director Nika Fisher and Web Developer Dylan Fisher, Labud is a boutique studio based in New York. In an age of instant gratification, where design is over saturated with recycled trends, Labud is dedicated to creating meaningful stories across print and digital that stand out in their authenticity.</p>
        <p class="mb-6">Working collaboratively with our clients, we identify the heart of our projects and strategize how to deliver poetic and clear messages through a variety of outputs.</p>
        <p class="mb-6">Our commitment to quality is apparent in our small and selective client collaborations – we take on projects that fit our mission and expect our clients to approach projects in a similar way. </p>
        <p>As producers of culture, we take the responsibility of contributing back to our community seriously. Let’s create something meaningful together.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-image bg-image-landscape my-6" style="background-image: url('https://images.unsplash.com/reserve/unsplash_524010c76b52a_1.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');"></div>
<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="bold-title mb-3">Labud</h2>
        <p>Driving home from a trip to Montauk in early 2018, partners Nika and Dylan were discussing starting a studio in the spring. Then, it happened – our eyes locked with a pristine Mute Swan circling the snow trimmed Town Pond at East Hampton.</p>
        <p>“We’ll call it labud.” Nika stated. “The serbian word for swan.”</p>
        <p>Upon further research, we discovered Mute Swans were brought to East Hampton in the 1800s to beautify the town. Shockingly, in 2014, the town was voting to exterminate the swans, as they are considered pests and destroyers of crops. Thankfully this didn’t happen. We love the symbol of a mute swan – poised and capable of meaning so much while remaining silent. We’d like to preserve the swans in our extended environment and blahblahblah symbol for our studio.</p>
      </div>
    </div>
  </div>
</div>
<hr class="my-6">
<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="bold-title mb-3">We Believe Design Should Say Something</div>
        <p class="small-body-text">Design has the opportunity to say something, and we like to give brands a voice and platform to do so. We work collaboratively with our clients to weave a narrative out of their work. Prioritizing authenticity and intention over trend, we celebrate what makes you you every step of the way.</p>
      </div>
      <div class="col-sm-4 text-center">
        <div class="bold-title mb-3">Like Gardens, Websites Grow</div>
        <p class="small-body-text">The way users interact with a website can change how the project is understood dramatically. For this reason, we try to work systematically to create a flexible website that can grow with your team and company.</p>
      </div>
      <div class="col-sm-4 text-center">
        <div class="bold-title mb-3">All Humans Are Welcome</div>
        <p class="small-body-text">We want to make experiences that everyone can appreciate, and accessibility is a core part of our process. Art and design can be esoteric, and we like to bridge that gap by offering entry points while working in a designed landscape.</p>
      </div>
    </div>
  </div>
</div>
<hr class="my-6">
<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <div class="bold-title">Our Team</div>
      </div>
      <div class="col-sm-5">
        <div class="bold-title mb-3">Dylan Fisher</div>
        <p>Dylan has been developing websites for nearly a decade. He has worked with many esteemed graphic designers and institutions implementing custom web experiences, both on the front end, back end and server- side. Dylan collaborated closely with Linked by Air for over 5 years, where he eventually went on to become lead developer. At Linked by Air, Dylan managed a wide variety of technical projects in cultural and education sectors, which included the following universities: Yale University, Columbia University, Skidmore College, and Williams College of Art. In addition to running Laud, Dylan teaches Core Interaction: Lab at Parsons School of Design.</p>
      </div>
      <div class="col-sm-5 offset-sm-1">
        <div class="bold-title mb-3">Nika Fisher</div>
        <p>Nika has 7 years of experience working with a multiplicity of small studios, agencies and brands. Prior to starting Labud, she held a Senior Designer position at Sweden Unlimited and worked as a Freelance Design Director for Thinx. Select clients include: Ready Set Rocket, Underalls, Prelude Fertility, Buzzfeed, Anna Sheffield, Kate Spade, Warby Parker and Areaware. Nika is also passionate about education and holds adjunct professor positions at Parsons School of Design and Rutgers Mason Gross School of the Arts.</p>
      </div>
    </div>
  </div>
</div>
<hr class="mt-6">
