@font-face {
  font-family: 'ClassicoURWTOT-Regular';
  src: font-url('ClassicoURWTOT-Regular.woff2') format('woff2'),
       font-url('ClassicoURWTOT-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'ClassicoURW-Med';
  src: font-url('ClassicoURW-Med.woff2') format('woff2'),
       font-url('ClassicoURW-Med.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGrotesk-Regular';
  src: font-url('MonumentGrotesk-Regular.woff2') format('woff2'),
       font-url('MonumentGrotesk-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGrotesk-Regular';
  src: font-url('MonumentGrotesk-Bold.woff2') format('woff2'),
       font-url('MonumentGrotesk-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
