<footer id="footer" class="footer pt-5 mt-auto">
  <div class="footer__inner">
    <div class="site-container py-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 mb-4 mb-sm-0">
            <h3 class="small-title mb-2">Contact</h3>
            <ul class="blank-list">
              <li>
                <a href="mailto:hello@labud.nyc" class="blank-link-hover">hello@labud.nyc</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <h3 class="small-title mb-2">Follow</h3>
            <ul class="blank-list">
              <li>
                <a href="https://www.instagram.com/labud.nyc/" class="blank-link-hover">Instagram</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <h3 class="small-title mb-2">Subscribe</h3>
            <%= render 'shared/registration_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
