// Color scheme

@mixin dark-color-scheme($background-color: $brand-color) {
  background-color: $background-color;
  color: $white;

  a {
    color: $white;
  }
}
.dark-color-scheme { @include dark-color-scheme; }
