@mixin link-hover {
  border-bottom: 1px solid;
}

@mixin link-active {
  background-color: $highlight-color;
}
.link-active { @include link-active; }

@mixin blank-link {
  text-decoration: none;
  border-bottom: 0;
  color: inherit;
}
.blank-link { @include blank-link; }

@mixin blank-link-hover {
  @include blank-link;
  border-bottom: 1px solid transparent;

  &:hover {
    @include breakpoint(sm) {
      @include link-hover;
    }
  }
}
.blank-link-hover { @include blank-link-hover; }

@mixin default-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    @include breakpoint(sm) {
      @include link-active;
      color: $white;
      border-bottom-color: $highlight-color;
    }
  }
}
.default-link { @include default-link; }

.external-link {
  cursor: alias;
}

@mixin highlight-link {
  text-decoration: none;
  border-bottom: 3px solid $brand-color;
  color: inherit;
  position: relative;
  padding: 5px 3px 0.2em;
  transition: color 0.3s;
  display: inline-block;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(1.4em + 3px);
    width: 100%;
    background-color: transparent;
    transition: transform 0.3s;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: $brand-color;
    z-index: -1;
  }

  &:hover {
    color: $white;

    &:before {
      transform: scaleY(1);
    }
  }
}
.highlight-link { @include highlight-link; }

@mixin background-color-link {
  color: $white;
  background-color: $black;
  text-decoration: none;
  padding: 0.2em 0.6em 0.3em;
  line-height: 1;
  letter-spacing: 0.025em;

  @include breakpoint(sm) {
    &:hover {
      background-color: $brand-color;
    }
  }
}
.background-color-link { @include background-color-link; }
