<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <%= lazy_image block.media_item, constrained_height: true %>
    </div>
    <div class="col-sm-6">
      <%= lazy_image block.media_item_two, constrained_height: true %>
    </div>
  </div>
</div>
