<%= content_tag :div,
                id: 'brush-stroke-canvas',
                class: 'brush-stroke-canvas mb-7',
                style: "background-color: #{@bg_color};" do %>
  <div class="site-container">
    <div class="container-fluid">
      <%= form_for BrushStroke.new,
                   html: {
                    class: 'row hero',
                      id: 'brush-stroke-canvas-form',
                      data: {
                        color: @color } } do |f| %>
        <div class="hero__text col-sm-12 text-center my-auto pt-4">
          <h1 class="jumbo-title mb-5">Labud is an identity design & development studio.</h1>
          <h2 class="small-title mb-1">Services</h2>
          <p class="mx-auto" style="max-width: 860px;">Brand & Identity, Creative & Art Direction, Site Design & Development, Illustration, Brand Strategy, E‑commerce Strategy, Packaging, Editorial and Publications, Illustration</p>
        </div>
        <% @brush_strokes.each do |brush_stroke| %>
          <%= content_tag :div,
                          nil,
                          class: 'previous-brush-stroke brush-stroke',
                          style: brush_stroke.css_styles,
                          data: {
                            created_at: brush_stroke.created_at.to_i } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% cache [@page, 'blocks'], expires_in: 1.day do %>
  <%= render_blocks @page %>
<% end %>
