<div class="dark-color-scheme">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row hero">
        <div class="col-sm-12 text-center my-auto">
          <h1 class="jumbo-title mb-5">Labud is an identity design & development studio.</h1>
          <h2 class="small-title mb-1">Services</h2>
          <p class="mx-auto" style="max-width: 860px;">Brand & Identity, Creative & Art Direction, Site Design & Development, Illustration, Brand Strategy, E‑commerce Strategy, Packaging, Editorial and Publications, Illustration</p>
        </div>
      </div>
    </div>
  </div>
</div>
