<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <%= content_tag :div, class: 'collage-block__canvas', style: block.collage_canvas_styles do %>
          <% block.collage_block_items.each do |collage_block_item| %>
            <%= content_tag :div, class: 'collage-block__item', style: collage_block_item.css_styles do %>
              <%= image_tag collage_block_item.media_item.attachment.url(:medium), class: 'collage-block__image' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
