// Footer

.footer__inner {
  background-color: $dark-blue;
  color: $white;
}

.registration-form__input-wrapper {
  position: relative;
}

.registration-form__input {
  width: 100%;
  padding: 0 0 5px 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.registration-form__button {
  background-color: $white;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: 0;
  color: transparent;
  padding: 0;

  &:hover {
    background-color: $brand-color;
  }
}

.registration-form-errors {
  &.active {
    margin-bottom: 15px;
  }
}
