// Footer

.footer__inner {
  background-color: $dark-blue;
  color: $white;
}

.registration-form__input-wrapper {
  position: relative;
}

.registration-form__input {
  width: 100%;
  box-shadow: 0 1px 10px 0 #4A58B0;
  padding: 10px 20px;
  border: 0;
  outline: 0;
}

.registration-form__button {
  background-color: #7468FA;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  color: transparent;
  padding: 0;

  &:hover {
    background-color: $black;
  }
}

.registration-form-errors {
  &.active {
    margin-bottom: 15px;
  }
}
