// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: color 0.4s;

  .controller--home_pages &,
  .inverse-header & {
    color: $white;
  }

  .controller--home_pages.has-scrolled-past-viewport &,
  .inverse-header.has-scrolled-past-viewport & {
    color: $black;
  }
}

.header__home-link,
.header__about-link {
  position: absolute;
  top: 15px;
  z-index: 10;

  @include breakpoint(sm) {
    top: 30px;
  }
}

.header__home-link {
  left: 30px;

  &:hover {
    .header__logo-label {
      @include link-hover;
    }
  }
}

.header__about-link {
  right: 30px;
  margin-top: 5px;

  @include breakpoint(sm) {
    margin-top: 0.1em;
  }
}

.header__logo {
  width: 16.61px;
  height: 18px;
  vertical-align: baseline;
  margin-top: 5px;

  @include breakpoint(sm) {
    width: 24px;
    height: 26px;
  }

  path {
    transition: fill 0.4s;

    .controller--home_pages &,
    .inverse-header & {
      fill: $white;
    }

    .controller--home_pages.has-scrolled-past-viewport &,
    .inverse-header.has-scrolled-past-viewport & {
      fill: $black;
    }
  }
}

.header__logo-label {
  display: inline-block;
  margin-left: 4px;

  @include breakpoint(sm) {
    margin-left: 6px;
  }
}
