// Home page brush strokes

.controller--home_pages {
  overflow-x: hidden;

  .application-wrapper {
    padding-top: 0;
  }
}

.brush-stroke-canvas {
  padding-top: $header-offset;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.brush-stroke {
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(30px);
  z-index: -1;
}

.canvas-brush {
  z-index: 1;
}
