// Home page brush strokes

.controller--home_pages {
  overflow-x: hidden;

  .application-wrapper {
    padding-top: 0;
  }
}

.brush-stroke-canvas {
  padding-top: $header-offset;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.brush-stroke {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  z-index: -1;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.canvas-brush {
  z-index: 1;
}

.previous-brush-stroke {
  display: none;
}
