// Home page brush strokes

.controller--home_pages {
  overflow-x: hidden;

  .application-wrapper {
    padding-top: 0;
  }

  .hero {
    color: $white;
  }

  .hero__text {
    position: relative;
    z-index: 1;
  }
}

.brush-stroke-canvas {
  padding-top: $header-offset;
  cursor: pointer;
  width: 100%;
  user-select: none;
  background-color: #24154C;
  cursor: none;
  overflow: hidden;
  margin-bottom: 4.5rem;
  transform: translate3d(0, 0, 0);

  @include breakpoint(sm) {
    padding-top: $header-offset-sm;
    overflow: visible;
    margin-bottom: 6rem;
  }
}

.brush-stroke {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  z-index: 0;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  pointer-events: none;
}

.canvas-brush {
  z-index: 1;
}

.previous-brush-stroke {
  display: none;
}
