// Images

.lazy-image {
  transition: opacity 0.3s;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

.forest-image-jump-fix {
  overflow: visible;
}

.forest-image-jump-fix--image-jpeg {
  background-color: $image-placeholder-background-color;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 0;
}

.bg-image-square {
  padding-bottom: 100%;
}

.bg-image-landscape {
  padding-bottom: 300px;

  @include breakpoint(md) {
    padding-bottom: 450px;
  }

  @include breakpoint(xl) {
    padding-bottom: 550px;
  }
}

.constrained-height-image {
  margin-left: auto;
  margin-right: auto;
}
