// Margin padding helpers

.mt-6, .my-6 { margin-top: 4.5rem; }
.mt-7, .my-7 { margin-top: 6rem; }
.mt-8, .my-8 { margin-top: 9rem; }

.mb-6, .my-6 { margin-bottom: 4.5rem; }
.mb-7, .my-7 { margin-bottom: 6rem; }
.mb-8, .my-8 { margin-bottom: 9rem; }
