// Project Feature Block

.project-feature-block {
  margin-bottom: $block-margin + 1rem;
}

.project-feature-block__column {
  position: relative;
}

.project-feature-block__slide {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.active {
    visibility: visible;
    position: static;
  }
}
