<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <%= content_tag :div, class: "#{block.columnable_css_class} text-center" do %>
        <%= lazy_image block.media_item, skip_jump_fix: true, class: 'image-block__image' %>
      <% end %>
    </div>
  </div>
</div>
